In [2]:
df = pd.read_csv(r'C:\Users\BINJAL SONI\OneDrive\Desktop\PDPU-Master\2nd Sem\Capstone Project\Fake News Detection\Datasets\21-02-2023\Constraint_Test.csv')
df.head(5)

   id                                              tweet
0   1  Our daily update is published. States reported...
1   2             Alfalfa is the only cure for COVID-19.
2   3  President Trump Asked What He Would Do If He W...
3   4  States reported 630 deaths. We are still seein...
4   5  This is the sixth time a global health emergen...

In [3]:
df = df.dropna()

In [4]:
df = df.set_index('id')

In [5]:
df

                                                  tweet
id
1     Our daily update is published. States reported...
2                Alfalfa is the only cure for COVID-19.
3     President Trump Asked What He Would Do If He W...
4     States reported 630 deaths. We are still seein...
5     This is the sixth time a global health emergen...
...                                                 ...
2136  #CoronaVirusUpdates: State-wise details of Tot...
2137  Tonight 12(midnight) onwards Disaster Manageme...
2138  296 new cases of #COVID19Nigeria; Plateau-85 E...
2139  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...
2140  More than half of pregnant women recently admi...

[2140 rows x 1 columns]

In [6]:
X=df

In [7]:
X

                                                  tweet
id
1     Our daily update is published. States reported...
2                Alfalfa is the only cure for COVID-19.
3     President Trump Asked What He Would Do If He W...
4     States reported 630 deaths. We are still seein...
5     This is the sixth time a global health emergen...
...                                                 ...
2136  #CoronaVirusUpdates: State-wise details of Tot...
2137  Tonight 12(midnight) onwards Disaster Manageme...
2138  296 new cases of #COVID19Nigeria; Plateau-85 E...
2139  RT @CDCemergency: #DYK? @CDCgov’s One-Stop Sho...
2140  More than half of pregnant women recently admi...

[2140 rows x 1 columns]

In [8]:
X.shape

(2140, 1)

In [9]:
voc_size = 5000

msg = X.copy()

In [10]:
#reset the index to get the proper count
msg.reset_index(inplace = True)

In [11]:
import nltk
import re
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

[nltk_data] Downloading package stopwords to C:\Users\BINJAL
[nltk_data]     SONI\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\BINJAL
[nltk_data]     SONI\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [12]:
corpus = []
for i in range(0, len(msg)):
   
    review = re.sub('[^a-zA-Z]', ' ', msg['tweet'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [13]:
from tensorflow.keras.layers import Bidirectional

In [14]:
len(corpus)

2140

In [15]:
msg['tweet'][0]

'Our daily update is published. States reported 734k tests 39k new cases and 532 deaths. Current hospitalizations fell below 30k for the first time since June 22. https://t.co/wzSYMe0Sht'

In [16]:
onehot_representation = [one_hot(words, voc_size) for words in corpus]

In [17]:
sent_length = 20
embeded_docs = pad_sequences(onehot_representation, padding = "pre", maxlen = sent_length)

embeded_docs[0]

array([1686, 3300, 4466, 3136, 4466,  473, 2587, 2440, 1808, 4148, 4098,
       4466, 4908, 3976, 4192,  840, 1759, 1110, 3869, 1495])

In [19]:
X_final = np.array(embeded_docs)

In [20]:
import tensorflow as tf

# Load the saved model
model = tf.keras.models.load_model('fake_model.h5')

In [21]:
y_pred = model.predict(X_final)
y_pred

67/67 [==============================] - 3s 14ms/step

array([[1.3074383e-01],
       [2.6109497e-04],
       [3.5108015e-04],
       ...,
       [1.6594036e-05],
       [4.7672418e-04],
       [5.4756536e-05]], dtype=float32)